.absences-container {
    width: 60%; /* Ajustez la taille pour moins d'espace */
    margin: 20px auto;
    border-radius: 10px; /* Bordures arrondies */
    overflow: hidden; /* Cache les bordures intérieures pour maintenir la forme arrondie */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Ombre pour un effet élégant */
    background-color: #fff; /* Fond blanc pour le contraste */
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  .color-indicator {
    height: 10px;
    width: 10px;
    display: inline-block;
    border-radius: 50%; /* Rend les indicateurs parfaitement ronds */
  }
  
  tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  tr:hover {
    background-color: #f1f1f1;
  }
  