/* DropdownMenu.css */
.dropdown-content {
    display: none; /* Caché par défaut */
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 100%; /* Positionne le menu directement sous le lien */
    left: 0; /* Aligné avec le côté gauche du parent li */
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1;}
  