/* DropdownMenu.css */
.dropdown-content {
  display: block;  /* Le menu est toujours ouvert */
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
  z-index: 100;
  min-width: 160px;  /* Assurez-vous que la largeur est appropriée pour votre contenu */
  max-height: 90vh;  /* Limite la hauteur pour éviter de dépasser les limites de la fenêtre */
  overflow-y: auto;  /* Permet de faire défiler si le contenu dépasse max-height */
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}
